@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --color1: #cb202d;
    --color2: #f3c3c7;
}

html{
    font-size: 62.5%;
}

@media(max-width:1400px){
    html{
      font-size: 58%;
    }
  }

  @media(max-width:1200px){
    html{
      font-size: 50%;
    }
  }
  @media(max-width:998px){
    html{
      font-size: 40%;
    }
  }

  @media(max-width:788px){
    html{
      font-size: 30%;
    }
  }
  @media(max-width:600px){
    html{
      font-size: 20%;
    }
  }

body{
    background-color: var(--color1);
  }

.progressBar{
    width: 100%;
    height: 0;
    background-color: rgb(55, 45, 255);
    position: fixed;
    z-index: 1000;
    animation: progress 2s 1;
}

@keyframes progress {
    0%{
        width: 0%;
        height: 0rem;
    }
         
    0.001%{
        width: 0%;
        height: .3rem;
      }

    50%{
        width: 80%;
        height: .3rem;
    }
        
    99.999%{
        width: 100%;
        height: .3rem;
    }
        
    100%{
        width: 0%;
        height: 0%;
    }
}

body header{
    background-color: var(--color1);
    width: 100%;
    height: 7.5rem;
}

body header nav ul{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    list-style: none;
    /* padding: 0rem 1rem; */
}

.navbarLink1{
    /* font-family: 'Libre Bodoni', serif; */
    /* flex-grow: 6; */
    text-align: center;
    font-size: 5rem;
}

.navbarLink2{
    flex-grow: .7;
    font-size: 0rem;
    position: relative;
    top: 1.4rem;
}

.navbarLink3{
    /* flex-grow: 0.1; */
    font-size: 3rem;
    position: relative;
    top: 1rem;
    left: 1rem;
}

.searchBar{
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: black 0px 0px 10px 1px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    margin-bottom: 10rem;;
}

  .searchBar input{
    font-size: 2.5rem;
    width: 80%;
}

  .searchBar button{
    width: 20%;
    font-size: 2rem;
    color: white;
    background-color: rgb(0, 125, 0);
}

.searchBar button:hover{
  background-color: rgb(0, 216, 0);
  transform: scale(1.2);
  border-radius: 3rem;
}

.navbarLink4{
    /* flex-grow: 0.1; */
    font-size: 2rem;
    position: relative;
    top: 2rem;
    left: -3rem;

}

.containerBelowNavBar{
    width: 100vw;
    height: 20vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.mainImg1{
  background-image: url(/static/images/cuisienes/indian/main.jpg);
}
.mainImg2{
  background-image: url(/static/images/cuisienes/chinese/main.webp);
}
.mainImg3{
  background-image: url(/static/images/cuisienes/italian/main.webp);
}
.mainImg4{
  background-image: url(/static/images/cuisienes/french/main.jpg);
}
.mainImg5{
  background-image: url(/static/images/cuisienes/japanese/main.jpg);
}
.mainImg6{
  background-image: url(/static/images/cuisienes/southIndian/main.jpg);
}
.mainImg7{
  background-image: url(/static/images/cuisienes/thai/main.jpg);
}
.mainImg8{
  background-image: url(/static/images/cuisienes/turkish/main.jpg);
}

/* .main{
    width: 151.9rem;
    height: 66rem;
    background-image: url(/static/images/indian/main.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.main h1{
    width: 55rem;
    position: relative;
    top: 9rem;
    left: -40rem;
    font-size: 9rem;
    color: var(--color2);
    padding: 6rem 0rem;
    border-top: 4px solid var(--color2);
    border-bottom: 4px solid var(--color2);
}

.bodySepration{
    position: relative;
    top: -4rem;
    background-color: var(--color1);
    box-shadow: rgb(0, 0, 0) 0px 2px 20px 5px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    display: block;
    margin: auto;
    width: 148rem;
    padding: 10rem 5rem;
} */

.c1{
    background-color: var(--color2);
    padding: 0 0 10rem 0;
    border-radius: 1rem;
    margin: 5rem auto 10rem auto;
    width: 80vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* .cardHover{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 8rem 0;
} */

/* .food{
    width: 35rem;
  height: 35rem;
  background-color: var(--color2);
  border-radius: 3rem;
  border: 2px solid black;
  box-shadow: rgba(14, 30, 37, 1) 0px 2px 4px 1px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  margin: 4rem 4rem;
} */

.caard{
    margin: 8rem 2vw;
    width: 76vw;
    /* height: 30rem; */
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.caard1 img{
    width: 25rem;
    height: 25rem;
    /* border-right: 2px solid black; */
    /* padding-right: 4vw; */
    border-radius: 20px;
}
.caard2{
    width: 52vw;
    height: 30rem;
    /* border: 2px solid black; */
    border-left: 2px solid black;
    margin-left: 4vw;
    padding-left: 4rem;
}
.caard2 h1{
    font-size: 8rem;
    font-weight: 600;
}
.caard2 button{
    font-size: 2rem;
    border-radius: 1rem;
    padding: 1rem 4rem;
    margin: 2rem 0;
}

.sepp{
display: flex;
justify-content: center;
padding: 5rem 1rem 3rem 1rem;
/* font-size: 3rem; */
/* background-color: rgb(80, 129, 253); */
}

#sep1{
  width: 50%;
  font-size: 3rem;
  /* text-align: center; */
  border: 2px solid black;
  margin-right: .5rem;
}

#sep2{
  width: 50%;
  font-size: 3rem;
  /* text-align: center; */
  border: 2px solid black;
  margin-left: .5rem;
}

 .loading-1{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: var(--color2);
  z-index: 999;
}

.loading-1 i { 
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 0px;
  display: block;
  width: 9px;
  height: 5px;
  background: #9b59b6;
  animation: loading-1 1.5s  infinite ease-in-out;
}
.loading-1 i:nth-child(2){
left: 50.5%;
animation-delay: .2s;
}
.loading-1 i:nth-child(3){
left:51%;
animation-delay: .4s;
}
.loading-1 i:nth-child(4){
left:51.5%;
animation-delay: .6s;
}
.loading-1 i:nth-child(5){
left:52%;
animation-delay: .8s;
}
@keyframes loading-1 {
0% {
height:5px;
transform:translateY(0px);
background:#9b59b6;
}
  25% {
    height:30px;
    transform:translateY(15px);
    background:#3498db;
  }
  50% {height:5px;
    transform:translateY(0px);
    background:#9b59b6;
  }
  100% {height:5px;
    transform:translateY(0px);
    background:#9b59b6;
  }
}
