{% extends 'Base.html' %}

{% block Title %}About Us{% endblock Title %}

{% block body %} 

    <div class="container-fluid m-o p-0" style="width: 100%;">
        <img src="/static/images/team.jpg" alt="img" width="100%">
    </div>

    <h1 class="text-center mb-3" style="font-weight: 1000; font-size: 500%;">Meet our team</h1>


    <!--Team members cards start here-->
    <div class="container">
        <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/static/images/Ayush.jpg" class="img-fluid rounded-start" alt="img">
              </div>
              <div class="col-md-8">
                <div class="card-body p-0 px-3">
                  <h1 class="card-title" style="font-size: 500%;">Ayush Kamboj</h1>
                  <h5>Leader</h5>
                  <p class="card-text" style="font-size: 150%;">This is me who is leading the team with my leadership abilities and has managed whole project properly. My part was to first design all the pages I have added in our web page then writing all the front end code required for it    then I have used Python to connect its back end with Sqlite</p>
                  <p><b>Skills used in this project:-</b> HTML, CSS, JavaScript , Python</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/static/images/Ayush.jpg" class="img-fluid rounded-start" alt="img">
              </div>
              <div class="col-md-8">
                <div class="card-body p-0 px-3">
                  <h1 class="card-title" style="font-size: 500%;">Ayush Kamboj</h1>
                  <h5>Leader</h5>
                  <p class="card-text" style="font-size: 150%;">This is me who is leading the team with my leadership abilities and has managed whole project properly. My part was to first design all the pages I have added in our web page then writing all the front end code required for it    then I have used Python to connect its back end with Sqlite</p>
                  <p><b>Skills used in this project:-</b> HTML, CSS, JavaScript , Python</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/static/images/Ayush.jpg" class="img-fluid rounded-start" alt="img">
              </div>
              <div class="col-md-8">
                <div class="card-body p-0 px-3">
                  <h1 class="card-title" style="font-size: 500%;">Ayush Kamboj</h1>
                  <h5>Leader</h5>
                  <p class="card-text" style="font-size: 150%;">This is me who is leading the team with my leadership abilities and has managed whole project properly. My part was to first design all the pages I have added in our web page then writing all the front end code required for it    then I have used Python to connect its back end with Sqlite</p>
                  <p><b>Skills used in this project:-</b> HTML, CSS, JavaScript , Python</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/static/images/Ayush.jpg" class="img-fluid rounded-start" alt="img">
              </div>
              <div class="col-md-8">
                <div class="card-body p-0 px-3">
                  <h1 class="card-title" style="font-size: 500%;">Ayush Kamboj</h1>
                  <h5>Leader</h5>
                  <p class="card-text" style="font-size: 150%;">This is me who is leading the team with my leadership abilities and has managed whole project properly. My part was to first design all the pages I have added in our web page then writing all the front end code required for it    then I have used Python to connect its back end with Sqlite</p>
                  <p><b>Skills used in this project:-</b> HTML, CSS, JavaScript , Python</p>
                </div>
              </div>
            </div>
          </div>
    </div>


{% endblock body %}
